<!--
<h1 class="title-movie-list"> قائمة الافلام </h1>

<div class="container search-container">
    <div class="row">
        <div class="col-md-6">
            <h2 style="text-align: right">ابحث عن الفيلم</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" ng-model="vm.searchbox_input" class="form-control input-lg" placeholder="اسم الفيلم" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" ng-click="vm.searchForFilm()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>
<span ng-if="vm.movie_list.length==0">

    لا يوجد نتائج تلائم البحث

</span>

<div ng-repeat="product in vm.movie_list" ng-if="$index % 3 == 0" class="row">
    <div class="col-xs-4 img-info-in-list" ng-click="vm.GoToMovieProfile(vm.movie_list[$index]._id)">

        <img src={{vm.movie_list[$index].img}} class="img-rounded img-movie-profile" alt="Cinque Terre" width="304" height="320">
        <h2 class="title-movie-in-list"> {{vm.movie_list[$index].name}}</h2>
       </div>
    <div class="col-xs-4 img-info-in-list" ng-if="vm.movie_list.length > ($index + 1)" ng-click="vm.GoToMovieProfile(vm.movie_list[$index+1]._id)">
        <img src={{vm.movie_list[$index+1].img}} class="img-rounded img-movie-profile" alt="Cinque Terre" width="304" height="320">
        <h2 class="title-movie-in-list"> {{vm.movie_list[$index+1].name}}</h2>
    </div>
    <div class="col-xs-4 img-info-in-list" ng-if="vm.movie_list.length > ($index + 2)" ng-click="vm.GoToMovieProfile(vm.movie_list[$index+2]._id)">

        <img src={{vm.movie_list[$index+2].img}} class="img-rounded img-movie-profile" alt="Cinque Terre" width="304" height="320">
        <h2 class="title-movie-in-list"> {{vm.movie_list[$index+2].name}}</h2>
    </div>
</div>
</div>-->


<div >
    <div class="well well-sm">
        <strong>לنتائج البحث</strong>
        <div class="btn-group">
            <a href="#" id="list" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-th-list">
            </span>List</a> <a href="#" id="grid" class="btn btn-default btn-sm"><span
                class="glyphicon glyphicon-th"></span>Grid</a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <h2 class="movie-list-title">ابحث عن فيلم</h2>
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <input type="text" class="form-control input-lg" ng-keyup="$event.keyCode == 13 ? vm.searchForFilm() : null" ng-model="vm.searchbox_input" placeholder="اسم الفيلم" />
                    <span class="input-group-btn">
                        <button class="btn btn-info btn-lg" type="button" ng-click="vm.searchForFilm()">
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </span>
                </div>
            </div>
        </div>
    </div>
<br>
    <div id="products" class="row list-group" ng-repeat="itemkholod in vm.movie_list" ng-if="$index % 3 == 0" >
        <div class="item  col-xs-4 col-lg-4" ng-click="vm.GoToMovieProfile(vm.movie_list[$index]._id)">
            <div class="thumbnail">
                <img class="group list-group-image image-size-static" src={{vm.movie_list[$index].img}} alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{vm.movie_list[$index].name}}</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                          <!--  <p class="lead">
                                $21.000</p>-->
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">مشاهدة الفيلم</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="item  col-xs-4 col-lg-4" ng-if="vm.movie_list.length > ($index + 1)" ng-click="vm.GoToMovieProfile(vm.movie_list[$index+1]._id)">
            <div class="thumbnail">
                <img class="group list-group-image image-size-static" src={{vm.movie_list[$index+1].img}} alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{vm.movie_list[$index+1].name}}</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                           <!-- <p class="lead">
                                $21.000</p>-->
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">مشاهدة الفيلم</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="item  col-xs-4 col-lg-4"  ng-if="vm.movie_list.length > ($index + 2)" ng-click="vm.GoToMovieProfile(vm.movie_list[$index+2]._id)">
            <div class="thumbnail">
                <img class="group list-group-image image-size-static" src={{vm.movie_list[$index+2].img}} alt="" />
                <div class="caption">
                    <h4 class="group inner list-group-item-heading">
                        {{vm.movie_list[$index+2].name}}</h4>
                    <div class="row">
                        <div class="col-xs-12 col-md-6">
                           <!-- <p class="lead">
                                $21.000</p>-->
                        </div>
                        <div class="col-xs-12 col-md-6">
                            <a class="btn btn-success" href="http://www.jquery2dotnet.com">مشاهدة الفيلم</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<style>

    .glyphicon { margin-right:5px; }
    .thumbnail
    {
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item
    {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }
    .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
    {
        background: #428bca;
    }

    .item.list-group-item .list-group-image
    {
        margin-right: 10px;
    }
    .item.list-group-item .thumbnail
    {
        margin-bottom: 0px;
    }
    .item.list-group-item .caption
    {
        padding: 9px 9px 0px 9px;
    }
    .item.list-group-item:nth-of-type(odd)
    {
        background: #eeeeee;
    }

    .item.list-group-item:before, .item.list-group-item:after
    {
        display: table;
        content: " ";
    }

    .item.list-group-item img
    {
        float: left;
    }
    .item.list-group-item:after
    {
        clear: both;
    }
    .list-group-item-text
    {
        margin: 0 0 11px;
    }

</style>

<style>
    #custom-search-input{
        padding: 3px;
        border: solid 1px #E4E4E4;
        border-radius: 6px;
        background-color: #fff;
    }

    #custom-search-input input{
        border: 0;
        box-shadow: none;
    }

    #custom-search-input button{
        margin: 2px 0 0 0;
        background: none;
        box-shadow: none;
        border: 0;
        color: #666666;
        padding: 0 8px 0 10px;
        border-left: solid 1px #ccc;
    }

    #custom-search-input button:hover{
        border: 0;
        box-shadow: none;
        border-left: solid 1px #ccc;
    }

    #custom-search-input .glyphicon-search{
        font-size: 23px;
    }
</style>

<script>
    $(document).ready(function() {
        $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
        $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
    });
</script>